
slack:
  token: # use xoxb-1234567-secret
  #team: "Developer"
  # auto_join_channels:
  # - #fancy-channel"
  allowed_groups:
    - backend
    - frontend
jenkins:
  host: #https://example.com
  username: username
  password: secret
  jobs:
    BackendTests:
      parameters:
        - name: BRANCH
          default: master
          type: branch
    BuildMobileClient:
      parameters:
        - name: BRANCH
          default: master
          type: branch
    BuildFrontendClient:
      parameters:
        - name: BRANCH
          default: master
          type: branch

# list of trusted slack users: allows the user-id and the name
allowed_users:
  - your.name
  - U122323

# there are some restricted commands, like reading logs or gather stats
admin_users:
 - UADMINID

# wip: allows receiving events directly from Slack server instead via RTM
#server:
#  listen: 127.0.0.1:4390
#  verification_secret: d12345sd943434sdfdsfsif9sif9

jira:
  #host: https://jira.example.de
  username: readonlyuser
  password: secret
  project: FOO

github:
  accesstoken: # optional when using github features

gitlab:
#  host: https://gitlab.example.de
#  accesstoken: # optional when using gitlab features

storage_path: ./storage

logger:
  level: info
  file: ./bot.log

macros:
  - name: thanks
    trigger: (thanks|thank you|danke|sudo)
    commands:
      - "reply nothing to thank for"
    examples:
      - thanks
      - thank you
      - danke

  - name: please
    description: execute the command after the keyword "please"
    trigger: "please (?P<command>.*)"
    commands:
      - "{{.command}}"
      - "add reaction :pray:"
    examples:
      - please deploy master to xx1

  - name: table flip
    description: Reply the table flip emoji
    trigger: "(flip|table flip)"
    commands:
      - "reply (╯°□°）╯︵ ┻━┻"
      - "add reaction :shinto_shrine:"
      - "add reaction :arrows_counterclockwise:"
    examples:
      - flip
      - flip table

  - name: bring me coffee
    trigger: "(bring|get|make) me( a)? coffee"
    commands:
      - "reply Get your ass up and pick it yourself!"
      - "add reaction :coffee:"
    examples:
      - bring me a coffee
      - make me a coffee

  - name: build clients
    description: build all development clients
    trigger: "build clients? (?P<branch>.*)"
    commands:
      - "reply I'll build {{ .branch }} for you"
      - "trigger job BuildFrontendClient {{ .branch }}"
      - "trigger job BuildMobileClient {{ .branch }}"
      - "add reaction :white_check_mark:"

  - name: meeting time
    trigger: "meeting time"
    commands:
      - "send message to #tech-team It's meeting time :)"
      - "add reaction :loudspeaker:"

  - name: bot feedback
    description: Send issues/suggestions etc. to the bot maintainer
    trigger: "bot feedback:? (?P<feedback>.*)"
    commands:
      - "reply thanks for your feedback :)"
      - "send message to <@UADMINID> We got feedback: {{ .feedback }}"

# slack interaction server:
server:
  listen: 127.0.0.1:4390 # using local ngrok.io tunnel
  verification_secret: 12345678qwertzuiopasdfghj

# used for the "weather" command to fetch current weather information from openweathermap.org
#open_weathermap:
#  api_key: iamtheapifromopenweathermap
#  location: Hamburg

# able to set a custom "approved" reactions to see directly who or which component/department approved a pullrequest
pullrequest:
  custom_approve_reaction:
    nerdydev: "approved_backend"
    iamamobiledev: "approved_mobile"
    iamamobiledev2: "approved_mobile"
