name: Master change

on:
  push:
    branches:
      - master

jobs:
  update_release_draft:
    name: Update release draft description
    runs-on: ubuntu-latest
    steps:
      - uses: release-drafter/release-drafter@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  push_to_registry:
    name: Push latest Docker image
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1.5.1
      - name: Login to GitHub Packages Docker Registry
        uses: docker/login-action@v1.10.0
        with:
          registry: docker.pkg.github.com
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Push to GitHub Packages
        uses: docker/build-push-action@v2.6.1
        with:
          push: false
          tags: innogames/slack-bot:latest
  reports_docs:
    name: Update Reports, Code coverage report and docs
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16.x
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Goreportcard
        uses: creekorful/goreportcard-action@v1.0
      - name: Test
        run: make test-coverage
      - name: Upload Coverage
        uses: codecov/codecov-action@v2.0.2
