name: Test

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  test:
    name: Run tests and build binary
    strategy:
      fail-fast: false
      matrix:
        # https://github.com/actions/go-versions/blob/main/versions-manifest.json
        go-version: [1.17.x, 1.18.x]
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go-version }}
          stable: false
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Run tests
        run: make test
        env:
          BOT_GITHUB_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Build Bot
        run: make build/slack-bot
      - name: Build CLI
        run: make build/cli
  test-coverage:
    name: Generate test coverage
    runs-on: "ubuntu-latest"
    steps:
      - name: Install Go
        uses: actions/setup-go@v3
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Test
        run: make test-coverage
        env:
          BOT_GITHUB_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Upload Coverage
        uses: codecov/codecov-action@v3
  lint:
    name: Lint
    if: ${{ github.event_name == 'pull_request' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2.5.2
        with:
          version: v1.44.0
          only-new-issues: true
  gosec:
    name: GoSec
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Run Gosec Security Scanner
        uses: securego/gosec@master
        with:
          args: -exclude=G404,G307,G104 ./...
  docker:
    name: Build Docker image
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1.7.0
